.todos-container {
  & .message {
    &.completed {
      color: lightgray;
      text-decoration: line-through;
    }
  }

  & .todo-new {
    display: flex;

    & select {
      flex: 2;
    }

    & input {
      flex: 5;
    }
  }
}