.todos-container {
	& .message {
		&.completed {
			color: lightgray;
			text-decoration: line-through;
		}
	}

	& .todo-new {
		display: flex;

		& select {
			flex: 1;
		}

		& input {
			flex: 3;
		}
	}
}